/* =Featured Content
-------------------------------------------------------------- */
#featured {width: 100%;}
#featured div{ float:left; position:relative; overflow:hidden; cursor:pointer;}
#featured .left{border:7px solid #ccc; width:282px; height:248px; position:relative;}
#featured .middle{width:325px; position:relative;}
#featured .right{width:325px; position:relative;}
#featured .half-height { height:125px; width:100%;}
#featured .half-width { height:125px; width:50%;}
#featured .bottom-margin{ margin-bottom:10px;}
#featured .right-margin{ margin-right:16px;}
#featured img{height:100%; width:100%;}
#featured img:hover{ opacity:0.8;filter: alpha(opacity=80);}
#featured p {
    color:#fff; font-size:12px; 
	text-align: center;position:absolute; bottom:0px; left:0px;
    width:100%;
    opacity:0.35;
	filter: alpha(opacity=35); margin:0px;
    background-color:#000; 
	line-height: 27px;
}

#featured p:hover {
    opacity:0.75;
	filter: alpha(opacity=75);
}

#slider{ position:relative !important;width:282px !important; height:248px !important; overflow:hidden !important; }
#slider ul { list-style:none !important;  margin:0 !important;; padding:0 !important; }
#slider img{height:282px;width:648px;}
#slider #num{ position:absolute; bottom:5px; right:5px;}
#slider ul#num li{ height:16px !important; width:16px !important; cursor:pointer; float:left; color:#F60; background:#fff; text-align:center; line-height:16px; border:1px solid #D8D8D8; margin-right:2px; opacity:0.7; filter:alpha(opacity=70);}
.curr{background-color:#F60 !important; color:#fff !important; font-weight:bold; opacity:1 !important;filater:alpha(opacity=1) !important;}

.link-container{ margin:0 -20px; padding:0 20px 10px 10px; border-bottom:4px solid #e5e5e5; font-weight: bold; font-size:1.2em; margin-bottom:2px;}
#links{width:980px;  margin:0 -20px; margin-top:20px;}
#links ul{list-style:none;padding:0 !important; }
#links ul li{float:left; margin:0 5px 0 4px !important;}
#links ul li img{width:138px; height:100px; border:1px solid #ccc;}

#imagesContainer {float:left;width:894px;overflow:hidden; margin:0 20px;}
#buttonNext{float:right; width:21px; height:110px; background:url(../images/bg.gif) no-repeat -38px -153px; margin-right:2px;}
#buttonPrev{float:left;width:20px;width:21px; height:110px;background:url(../images/bg.gif) no-repeat 0px -153px; } 
.cases{margin-bottom:20px; overflow:auto;}
.cases .case-entry{margin-top:10px;}
.cases .case-item{ width:185px; float:left; margin-right:10px;  }
.cases .right-advertise{ width: 500px;float:right;padding:0; height: 212px; }